ul.slimmenu {
	list-style-type:none; margin:0px auto; padding:0; width:100%; background-color:#ffffff;
}
ul.slimmenu li {
	position:relative; display:inline-block;
}
ul.slimmenu > li { margin-right:-5px;
}
ul.slimmenu > li:first-child { border-left: 0 }
ul.slimmenu > li:last-child { margin-right: 0 }
ul.slimmenu li a {
	display:block; color:#666666; padding:9px 20px 3px 9px; font-size:14px; line-height: 22px; border-bottom:5px #CCCCCC solid;
}
ul.slimmenu li a:hover {
	text-decoration:underline;
}
ul.slimmenu .ActiveLink {
	color:#000000; border-bottom:5px #3366CC solid;
}
ul.slimmenu .LastLI {
	background-image:url('../images/top-links-separator1.jpg'); background-repeat:no-repeat;
}

